<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= id %>" method="post">
        <label for="name">New Animal name</label>
        <input type="text" name="animal">
        <input type="hidden" value="<%= id %>" name="id">
        <button type="submit">Update mongoose</button>
    </form>
</body>
</html>